


#divparent1 {
    border: 1px dotted red;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 95%;
    height: auto;
}

#divparent2 {
    border: 1px dotted red;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 95%;
    height: auto;
}

#divparent3 {
    border: 1px dotted red;
    display: flex;
    flex-direction: column-reverse;
    margin: 10px;
    width: 95%;
    height: auto;
}

.div1 {
    background-color: blueviolet;
    width: 150px;
    height: 150px;
    align-self: flex-start;
    margin-left: 60px;
    
}

.div2 {
    background-color: royalblue;
    width: 150px;
    height: 150px;
    
}

.div3 {
    background-color: olivedrab;
    width: 150px;
    height: 150px;
    margin-right: 60px;
    align-self: flex-end;
}

.div4 {
    background-color: blueviolet;
    width: 150px;
    height: 150px;
    margin: 30px;
}

.div5 {
    background-color: royalblue;
    width: 100%;
    height: 150px;
    
}

.div6 {
    background-color: olivedrab;
    width: 150px;
    height: 150px;
    margin: 30px;
}
.div7 {
    background-color: blueviolet;
    width: 150px;
    height: 150px;
    align-self: flex-end;
   
}

.div8 {
    background-color: royalblue;
    width: 150px;
    height: 150px;
    align-self: flex-end;
    
}

.div9 {
    background-color: olivedrab;
    width: 150px;
    height: 150px;
    align-self: flex-end;
    margin-top: 70px;
}